body {
  min-width: 1530px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background-color: rgb(129, 184, 209);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
.headerItem {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 4px 4px 4px 4px;
  font-size: 34px;
}
.headersList {
  display: flex;
  justify-content: start;
}
.ReservationBTN {
  font-size: 30px;
  width: 200px;
  height: 50px;
  color: rgb(232, 230, 227);
  background-color: rgb(79, 51, 46);
  border-color: rgb(88, 56, 51) !important;
  cursor: pointer;
}

.overallStyling {
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  flex-direction: column;

  background-color: rgb(0, 0, 0);
  color: white;
}
.footerMediaList {
  display: flex;
}
.footerMediaItem {
  margin-right: 5px;
  cursor: pointer;
}

.bodyStyling {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  align-items: center;
}
.room-name {
  font-size: 20px;
}
.room-description {
  font-size: 12px;
}
.address-info {
  font-size: 10px;
  margin-bottom: 0px;
}
.address-info-2 {
  font-size: 10px;
  margin-top: 0px;
}

.calendar-display {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.btn-date-submit {
  width: 225px;
  height: 20px;
}
/* dropdown button stuff */
.make-Reservation {
  display: flex;
  flex-direction: row;
  width: fit-content;
  min-height: 265px;
  height: fit-content;
}
.make-Reservation-font {
  font-family: Courier New, monospace;
  font-weight: normal;
  margin: 0px 10px 0px 0px;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  display: flex;
  width: 200px;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 308px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .dropdown:hover .dropdown-content {
  display: flex;
} */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.day {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.days-organization {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.dropdown-calendar {
  width: fit-content;
}

.reveal {
  display: flex;
}
.disabledDay {
  opacity: 0.5;
}
.selected-Highlight {
  border-color: blue;
  background-color: lightblue;
}
.selected-Highlight-edge {
  background: cornflowerblue;
}
.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.month-year-org {
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.calendar-headers {
  font-size: 20px;
  background-color: lightslategray;
}
